error_log
*.log
/logs/
vendor/
composer.lock
local/
.env
config.php
config/config.php
files/
shared/
images/
temp*.php
out*.txt
.vscode/
.phpunit.result.cache
tests.bat
tests.sh
.DS_Store
Thumbs.db
/.phpstan/cache/
coverage/
node_modules/